IPyKernel
matplotlib
pandas
numpy
seaborn
scikit-learn
kagglehub
# Change index url for your specific version
torch -i https://download.pytorch.org/whl/cu129
torchvision -i https://download.pytorch.org/whl/cu129
# OPTIONAL NVIDIA GPUS ONLY
torch-tensorrt -i https://download.pytorch.org/whl/cu129
tensorrt -i https://download.pytorch.org/whl/cu129