IPyKernel
matplotlib
pandas
numpy
seaborn
scikit-learn
kagglehub
ucimlrepo
graphviz
gymnasium
pygame
# Change index url for your specific version
torch -i https://download.pytorch.org/whl/cu130
torchvision -i https://download.pytorch.org/whl/cu130
# OPTIONAL NVIDIA GPUS ONLY
torch-tensorrt -i https://download.pytorch.org/whl/cu130
tensorrt -i https://download.pytorch.org/whl/cu130